<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Birthstone</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <h3>BIRTHSTONE CALCULATOR</h3>
  
  <h4>Your birthstone is <%=@gem_method%>. </h4>
    
    
    
  </body>
</html>